<div class="container">
  <h1>Stock Status</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'stock_statuses/actions' %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Stock Status', new_stock_status_path %><br><br>
  <%= link_to 'Back', products_path, class:"btn btn-primary btn-sm" %>
</div>