<div class="container">
  <h3>Stock Status Details</h3>
  <div>
    <label>Status</label>
    <%= @stock_status.status %>
  </div>
  <br>
  <div>
    <br>
    <%= link_to 'Back', { controller: 'stock_statuses', action: 'index'}, class:"btn btn-primary btn-sm" %>
  </div>
</div>