<div id="dash-recent-orders" class="card-body pt-2">
    <ul class="nav nav-pills nav-pills-custom mb-3" id="category_list">
        <% @product_categories.each do |category| %>
        <li class="nav-item mb-3 me-3 me-lg-6">
            <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-80px h-85px py-4"
                data-bs-toggle="pill">
                <div class="nav-icon">
                    <img alt=""
                        src="https://preview.keenthemes.com/metronic8/demo8/assets/media/svg/products-categories/gaming.svg"
                        class="" />
                </div>
                <span id="category_span_name"
                    class="nav-text text-gray-700 fw-bolder fs-6 lh-1"><%= category.name %></span>
                <span id="category_span_id" style="display: none;"
                    class="nav-text text-gray-700 fw-bolder fs-6 lh-1"><%= category.id %></span>
                <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
            </a>
        </li>
        <% end %>
    </ul>
    <script>
        $(document).ready(function () {
            //Make the firt category as active
            $("#category_list li a").first().addClass('active')
            //Make the ajax call for the first selected category by getting innerHtml value
            if ($("#category_list li").first() && $("#category_list li").first().find('#category_span_id')
                .text()) {
                $.ajax({
                    method: "GET",
                    url: "ecommerce/orderlist",
                    dataType: "html",
                    data: {
                        category_id: $("#category_list li").first().find('#category_span_id').text()
                    },
                    success: function (result) {
                        if ($(document).find("#dash-recent-orders-list")) {
                            $(document).find("#dash-recent-orders-list").remove();
                            $(document).find('#dash-recent-orders').append(result);
                        }
                    }
                })
            }
            //Register the on-click event for the category list
            $("#category_list li").click(function (event) {
                event.preventDefault();
                console.log("\n event: " + JSON.stringify(event))
                console.log($(this).find('#category_span_name').text())
                console.log($(this).find('#category_span_id').text())
                $.ajax({
                    method: "GET",
                    dataType: "html",
                    url: "ecommerce/orderlist",
                    data: {
                        category_id: $(this).find('#category_span_id').text()
                    },
                    success: function (result) {
                        if ($(document).find("#dash-recent-orders-list")) {
                            $(document).find("#dash-recent-orders-list").remove();
                            $(document).find('#dash-recent-orders').append(result);
                        }
                    }
                })
            });
        });
    </script>
</div>