<nav class="navbar navbar-expand-lg .bg-light">
  <!-- <div class="hstack gap-">
    <div>
      <div>
        <h5>Dashboard</h5>
      </div>
      <div>
        <p style="color: rgb(167, 171, 188)">Home - Dashboard - Ecommerce</p>
      </div>
    </div>
    <div>
        <div>
            <h6 class="float-right" style="color:rgb(94,98,120)">Sort By</h6>
        </div>
    </div>
    <div class="vr"></div>
    <div>
        <div>
            <h6 class="float-right" style="color:rgb(94,98,120)">Impact Level</h6>
        </div>
    </div>
    <div class="vr"></div>

    <div>
        <div>
            <h6 class="float-right" style="color:rgb(94,98,120)">Quick Tools</h6>
        </div></div>
  </div> -->
  <div class="container">
        <div class="row">
            <div class="mt-2 mb-0">
                <h5>Dashboard</h5>
            </div>
            <div style="margin-top:-5px">
                <p style="color:rgb(167,171,188)">Home - Dashboard - Ecommerce</p>
            </div>
         
        </div>
        <div class="row " >
            <div>
                <h6 class="float-right" style="color:rgb(94,98,120)">Sort By</h6>
            </div>
          
         
        </div>
        <div class="vr"></div>
        <div class="row">
            <div>
                <h6 style="color:rgb(94,98,120)">Impact level</h6>
            </div>
           
         
        </div>
        <div class="vr"></div>
        <div class="row">
            <div>
                <h6 style="color:rgb(94,98,120)">Quick Tools</h6>
            </div>
            
        </div>
      </div>
</nav>
