<div class="container">

  <div class="row justify-content-center">

    <h4 class="mt-4 display-4">Listing orders</h4>

  </div>
  <div class="mt-4 display-4">
    <%= link_to 'Create new order' , new_order_path, class:"btn btn-danger" %>
  </div>
  <% if @orders.present? %>

  <div class="row justify-content-center">

    <table class="table table-bordered">

      <thead>

        <tr>

            <th scope="col">Customer Name</th>

          <th scope="col">Total Price</th>

          <th scope="col" colspan="3">Order Status</th>

        </tr>

      </thead>

      <tbody>

          <%= render 'orders/actions' %>

        </tbody>

      </table>

    </div>

    <% else %>

      <div class="p-3 mb-2 bg-light text-dark">

        <span class="text-info font-weight-bold">Welcome! </span>

        Create your first order

      </div>

      <% end %>
      <%= link_to 'Create ordersstatus' , new_order_status_path, class:"btn btn-danger" %>
      <%= link_to 'Back' , :back, class:"btn btn-outline-danger" %>

</div>