<div class="container">
  <h1>Product Category</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= render 'product_categories/actions' %>
    </tbody>
  </table>

  <%= link_to 'New Product Category', new_product_category_path %><br><br>
  <%= link_to 'Back', products_path, class:"btn btn-primary btn-sm" %>
</div>
