<div class="container">
  <h3>Product Category Details</h3>
  <div>
    <label>Category Name: </label>
    <%= @product_category.name %>
  </div>
  <br>
  <div>
    <br>
    <%= link_to 'Back', { controller: 'product_categories', action: 'index'}, class:"btn btn-primary btn-sm" %>
  </div>
</div>
