<% @order_items.each do |orderitem| %>
  <tr>
    <td>
      <%= order_items %>
    </td>
    <td>
      <%= link_to image_tag("eye-solid.svg", width: 20,float:"right"), order_items_path(orderitem) %>  |  

        <%= link_to image_tag("pen-solid.svg", width: 20,float:"right"), edit_order_items_path(orderitem) %>  |  

        <%= link_to image_tag("trash-solid.svg", width: 20,float:"right"), order_items_path(orderitem), data: { "turbo-method": :delete } %>

    </td>

</tr>


      
  <% end %>