<div class="container">
    <h2 class="card-title">Have you tried new <strong>eCommerce App</strong> ?</h2>
    <%= link_to image_tag("shopping.jpg", width: 250) %>  
    <%= link_to 'View App' , new_order_path, class:"btn btn-primary" %> | 
    <%= link_to 'New Product' , new_product_path, class:"btn btn-outline-primary" %>
</div>