<div id="product-delivery" class="hover-scroll-overlay-y pe-6 me-n6">
    <div class="row product-item">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder7.webp" alt="" height="40" />
                        <span style="color: rgb(63, 66, 122); font-weight: 500">Elephant 1802</span>
                    </div>
                    <div class="row order-details">
                        <div class="col-md-9">
                            <span style="color: rgb(181, 181, 195); font-weight: 500">To:</span>
                            <span style="color: rgb(63, 66, 122); font-weight: 500">Jsson Bourne</span>
                        </div>
                        <div class="order-status-card col-md-3 delivered-status">Delivered</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row product-item">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder7.webp" alt="" height="40" />
                        <span style="color: rgb(63, 66, 122); font-weight: 500">Elephant 1802</span>
                    </div>
                    <div class="row order-details">
                        <div class="col-md-9">
                            <span style="color: rgb(181, 181, 195); font-weight: 500">To:</span>
                            <span style="color: rgb(63, 66, 122); font-weight: 500">Jsson Bourne</span>
                        </div>
                        <div class="order-status-card col-md-3 shipping-status">Shipping</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row product-item">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder7.webp" alt="" height="40" />
                        <span style="color: rgb(63, 66, 122); font-weight: 500">Elephant 1802</span>
                    </div>
                    <div class="row order-details">
                        <div class="col-md-9">
                            <span style="color: rgb(181, 181, 195); font-weight: 500">To:</span>
                            <span style="color: rgb(63, 66, 122); font-weight: 500">Jsson Bourne</span>
                        </div>
                        <div class="order-status-card col-md-3 confirmed-status">Confirmed</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row product-item">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder7.webp" alt="" height="40" />
                        <span style="color: rgb(63, 66, 122); font-weight: 500">Elephant 1802</span>
                    </div>
                    <div class="row order-details">
                        <div class="col-md-9">
                            <span style="color: rgb(181, 181, 195); font-weight: 500">To:</span>
                            <span style="color: rgb(63, 66, 122); font-weight: 500">Jsson Bourne</span>
                        </div>
                        <div class="order-status-card col-md-3 confirmed-status">Confirmed</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>