<div id="product-orders"> 
    <table class="table align-middle table-row-dashed">
        <thead>
            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                <th rowspan="1" colspan="1" style="width: 100px;">Order ID</th>
                <th rowspan="1" colspan="1" style="width: 100px;">Created
                </th>
                <th rowspan="1" colspan="1" style="width: 125px;">Customer
                </th>
                <th rowspan="1" colspan="1" style="width: 100px;">Total
                </th>
                <th rowspan="1" colspan="1" style="width: 100px;">Profit
                </th>
                <th rowspan="1" colspan="1" style="width: 93.125px;">Status
                </th>
                <th rowspan="1" colspan="1" style="width: 25px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#adfh</td>
                <td>asd</td>
                <td>dg</td>
                <td>yhfhgh</td>
                <td>rytyty</td>
                <td>ghgh</td>
            </tr>
        </tbody>
    </table>
</div>