<% @discounts.each do |discount| %>
    <tr>
      <td><%= discount.percentage %></td>
      <td><%= link_to image_tag("eye-solid.svg", width: 20,float:"right"), discount_path(discount) %>  |  
      <%= link_to image_tag("pen-solid.svg", width: 20,float:"right"), edit_discount_path(discount) %>  |  
      <%= link_to image_tag("trash-solid.svg", width: 20,float:"right"), discount_path(discount), data: { "turbo-method": :delete } %></td>
    </tr>
<% end %>


