<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4">Product Discounts</h4>
  </div>

  <div class="mt-4 display-4">
    <%= link_to 'Create new product discount' , new_discount_path, class:"btn btn-danger" %>
  </div>

  <div class="row justify-content-center">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Percentage</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <%= render 'discounts/actions' %>
      </tbody>
    </table>
  </div>

  <br>
</div>