<div class="container">
  <h3>Product Discount Details</h3>
  <div>
    <label>Discount Percentage</label>
    <%= @discount.percentage %>
  </div>
  <br>
  <div>
    <br>
    <%= link_to 'Back', { controller: 'discounts', action: 'index'}, class:"btn btn-primary btn-sm" %>
  </div>
</div>